<?xml version="1.0"?>
<!--
  有关如何配置 ASP.NET 应用程序的详细信息，请访问
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <!--<configSections>
    <section name="casClientConfig" type="DotNetCasClient.Configuration.CasClientConfiguration, DotNetCasClient"/>
  </configSections>-->
  <!--<casClientConfig
    casServerLoginUrl="http://icloud.ccjy.cn/cas/login"
    casServerUrlPrefix="http://icloud.ccjy.cn/cas"
    serverName="http://118.178.182.114:8085/login.html"
    notAuthorizedUrl="~/NotAuthorized.aspx"
    cookiesRequiredUrl="~/CookiesRequired.aspx"
    redirectAfterValidation="true"
    gateway="false"
    renew="false"
    singleSignOut="true"
    ticketTimeTolerance="5000"
    ticketValidatorName="Cas20"
    serviceTicketManager="CacheServiceTicketManager"
    gatewayStatusCookieName="CasGatewayStatus" />-->
  <system.web>
    <!--<authentication mode="Forms">
      <forms
          loginUrl="http://icloud.ccjy.cn/cas/login"
          timeout="30"
          defaultUrl="~/Default.aspx"
          cookieless="UseCookies"
          slidingExpiration="true"
     path="/"
               />
    </authentication>
    <authorization>
      <deny users="?"/>
    </authorization>-->
    <customErrors mode="Off"/>
    <compilation targetFramework="4.0" debug="true"/>
    <httpRuntime/>
    <sessionState mode="InProc" timeout="480"/>
    <pages controlRenderingCompatibilityVersion="4.0"/>
  </system.web>
  <appSettings>
    <add key="ServerPath" value="192.168.1.189:8012" />  <!--配置Server 所在服务器的IP 和端口 --> <!--配置IIS 所在服务器的IP 和端口 -->
  </appSettings>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_IRoleTypeService" />
        <binding name="BasicHttpBinding_IDepartmentService1" />
        <binding name="BasicHttpBinding_IFunctionService1" />
        <binding name="BasicHttpBinding_ISerialMapService" />
      </basicHttpBinding>
      <wsHttpBinding>
        <binding name="WSHttpBinding_IBasicsDataService">
          <reliableSession inactivityTimeout="00:30:00" enabled="true" />
          <security>
            <message clientCredentialType="UserName" />
          </security>
        </binding>
        <binding name="WSHttpBinding_IBasicSetting_UserInfo">
          <reliableSession inactivityTimeout="00:30:00" enabled="true" />
          <security>
            <message clientCredentialType="UserName" />
          </security>
        </binding>
        <binding name="WSHttpBinding_IAmountService">
          <reliableSession inactivityTimeout="00:30:00" enabled="true" />
          <security>
            <message clientCredentialType="UserName" />
          </security>
        </binding>
        <binding name="WSHttpBinding_IAmountTypeService">
          <reliableSession inactivityTimeout="00:30:00" enabled="true" />
          <security>
            <message clientCredentialType="UserName" />
          </security>
        </binding>
        <binding name="WSHttpBinding_IBasicSetting_UserInfo1">
          <reliableSession inactivityTimeout="00:30:00" enabled="true" />
          <security>
            <message clientCredentialType="UserName" />
          </security>
        </binding>
        <binding name="WSHttpBinding_ILetterService">
          <reliableSession inactivityTimeout="00:30:00" enabled="true" />
          <security>
            <message clientCredentialType="UserName" />
          </security>
        </binding>
        <binding name="WSHttpBinding_IIndexService">
          <reliableSession inactivityTimeout="00:30:00" enabled="true" />
          <security>
            <message clientCredentialType="UserName" />
          </security>
        </binding>
        <binding name="WSHttpBinding_IDistributeRecordService">
          <reliableSession inactivityTimeout="00:30:00" enabled="true" />
        </binding>
        <binding name="WSHttpBinding_IReservationService">
          <reliableSession inactivityTimeout="00:30:00" enabled="true" />
          <security>
            <message clientCredentialType="UserName" />
          </security>
        </binding>
        <binding name="WSHttpBinding_ISystemSettingService">
          <reliableSession inactivityTimeout="00:30:00" enabled="true" />
          <security>
            <message clientCredentialType="UserName" />
          </security>
        </binding>
        <binding name="WSHttpBinding_IParameterService">
          <reliableSession inactivityTimeout="00:30:00" enabled="true" />
          <security>
            <message clientCredentialType="UserName" />
          </security>
        </binding>
        <binding name="WSHttpBinding_IDepartmentService">
          <reliableSession inactivityTimeout="00:30:00" enabled="true" />
          <security>
            <message clientCredentialType="UserName" />
          </security>
        </binding>
        <binding name="WSHttpBinding_IPersonalReportService">
          <reliableSession inactivityTimeout="00:30:00" enabled="true" />
          <security>
            <message clientCredentialType="UserName" />
          </security>
        </binding>
        <binding name="WSHttpBinding_IChineseToPinYinService">
          <reliableSession inactivityTimeout="00:30:00" enabled="true" />
          <security>
            <message clientCredentialType="UserName" />
          </security>
        </binding>
        <binding name="WSHttpBinding_IFunctionService">
          <reliableSession inactivityTimeout="00:30:00" enabled="true" />
          <security>
            <message clientCredentialType="UserName" />
          </security>
        </binding>
        <binding name="WSHttpBinding_IAnswerAddService">
          <reliableSession inactivityTimeout="00:30:00" enabled="true" />
          <security>
            <message clientCredentialType="UserName" />
          </security>
        </binding>
        <binding name="WSHttpBinding_IPresentationService">
          <reliableSession inactivityTimeout="00:30:00" enabled="true" />
          <security>
            <message clientCredentialType="UserName" />
          </security>
        </binding>
        <binding name="WSHttpBinding_IRoleService">
          <reliableSession inactivityTimeout="00:30:00" enabled="true" />
          <security>
            <message clientCredentialType="UserName" />
          </security>
        </binding>
        <binding name="WSHttpBinding_ITestTypeService">
          <reliableSession inactivityTimeout="00:30:00" enabled="true" />
          <security>
            <message clientCredentialType="UserName" />
          </security>
        </binding>
        <binding name="WSHttpBinding_IGroupReportService">
          <reliableSession inactivityTimeout="00:30:00" enabled="true" />
          <security>
            <message clientCredentialType="UserName" />
          </security>
        </binding>
        <binding name="WSHttpBinding_IRecycleBinService">
          <reliableSession inactivityTimeout="00:30:00" enabled="true" />
          <security>
            <message clientCredentialType="UserName" />
          </security>
        </binding>
        <binding name="WSHttpBinding_IEnterpriseOnlineService">
          <reliableSession inactivityTimeout="00:30:00" enabled="true" />
          <security>
            <message clientCredentialType="UserName" />
          </security>
        </binding>
        <binding name="WSHttpBinding_IInspectionWarningService">
          <reliableSession inactivityTimeout="00:30:00" enabled="true" />
          <security>
            <message clientCredentialType="UserName" />
          </security>
        </binding>
        <binding name="WSHttpBinding_IBaseImportService">
          <reliableSession inactivityTimeout="00:30:00" enabled="true" />
          <security>
            <message clientCredentialType="UserName" />
          </security>
        </binding>
        <binding name="WSHttpBinding_IAnswerStatusService">
          <reliableSession inactivityTimeout="00:30:00" enabled="true" />
          <security>
            <message clientCredentialType="UserName" />
          </security>
        </binding>
        <binding name="WSHttpBinding_IStatisticalService">
          <reliableSession inactivityTimeout="00:30:00" enabled="true" />
          <security>
            <message clientCredentialType="UserName" />
          </security>
        </binding>
        <binding name="WSHttpBinding_ISpecialCalculationService">
          <reliableSession inactivityTimeout="00:30:00" enabled="true" />
          <security>
            <message clientCredentialType="UserName" />
          </security>
        </binding>
        <binding name="WSHttpBinding_IBasicSetting_UserInfo2">
          <reliableSession inactivityTimeout="00:30:00" enabled="true" />
        </binding>
        <binding name="WSHttpBinding_IEnterpriseService">
          <reliableSession inactivityTimeout="00:30:00" enabled="true" />
          <security>
            <message clientCredentialType="UserName" />
          </security>
        </binding>
        <binding name="WSHttpBinding_IQuestionTypeService">
          <reliableSession inactivityTimeout="00:30:00" enabled="true" />
          <security>
            <message clientCredentialType="UserName" />
          </security>
        </binding>
        <binding name="WSHttpBinding_IQuestionnaireService">
          <reliableSession inactivityTimeout="00:30:00" enabled="true" />
          <security>
            <message clientCredentialType="UserName" />
          </security>
        </binding>
        <binding name="WSHttpBinding_IIndividualConsultationService">
          <reliableSession inactivityTimeout="00:30:00" enabled="true" />
          <security>
            <message clientCredentialType="UserName" />
          </security>
        </binding>
        <binding name="WSHttpBinding_IGroupConsultationService">
          <reliableSession inactivityTimeout="00:30:00" enabled="true" />
          <security>
            <message clientCredentialType="UserName" />
          </security>
        </binding>
        <binding name="WSHttpBinding_IAppointmentConsultService">
          <reliableSession inactivityTimeout="00:30:00" enabled="true" />
          <security>
            <message clientCredentialType="UserName" />
          </security>
        </binding>
        <binding name="WSHttpBinding_IAdvisoryStatisticsService">
          <reliableSession inactivityTimeout="00:30:00" enabled="true" />
          <security>
            <message clientCredentialType="UserName" />
          </security>
        </binding>
        <binding name="WSHttpBinding_IConsultingOnlineService">
          <reliableSession inactivityTimeout="00:30:00" enabled="true" />
          <security>
            <message clientCredentialType="UserName" />
          </security>
        </binding>
        <binding name="WSHttpBinding_IBasicsDataService1">
          <reliableSession inactivityTimeout="00:30:00" enabled="true" />
          <security>
            <message clientCredentialType="UserName" />
          </security>
        </binding>
      </wsHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost:8012/BasicsServices/BasicsDataService/"
        binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_IBasicsDataService"
        contract="BasicsDataService.IBasicsDataService" name="WSHttpBinding_IBasicsDataService">
        <identity>
          <dns value="localhost" />
        </identity>
      </endpoint>
      <endpoint address="http://localhost:8012/BasicsServices/BasicSetting_UserInfo/"
        binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_IBasicSetting_UserInfo"
        contract="BasicSetting_UserInfoService.IBasicSetting_UserInfo"
        name="WSHttpBinding_IBasicSetting_UserInfo">
        <identity>
          <dns value="localhost" />
        </identity>
      </endpoint>
      <endpoint address="http://localhost:8012/BasicsServices/BasicSetting_UserInfo/"
        binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_IBasicSetting_UserInfo1"
        contract="UserInfoService.IBasicSetting_UserInfo" name="WSHttpBinding_IBasicSetting_UserInfo1">
        <identity>
          <dns value="localhost" />
        </identity>
      </endpoint>
      <endpoint address="http://localhost:8012/BasicsServices/DepartmentService/"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IDepartmentService1"
        contract="DepartmentService.IDepartmentService" name="BasicHttpBinding_IDepartmentService1" />
      <endpoint address="http://localhost:8012/BasicsServices/SerialMapService/"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ISerialMapService"
        contract="SerialMapServices.ISerialMapService" name="BasicHttpBinding_ISerialMapService" />
      <endpoint address="http://localhost:8012/BasicsServices/EnterpriseService/"
        binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_IEnterpriseService"
        contract="EnNmberService.IEnterpriseService" name="WSHttpBinding_IEnterpriseService">
        <identity>
          <dns value="localhost" />
        </identity>
      </endpoint>
      <endpoint address="http://localhost:8012/BasicsServices/AdvisoryStatisticsService/"
        binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_IAdvisoryStatisticsService"
        contract="AdvisoryStatisticsService.IAdvisoryStatisticsService"
        name="WSHttpBinding_IAdvisoryStatisticsService">
        <identity>
          <dns value="localhost:8012" />
        </identity>
      </endpoint>
      <endpoint address="http://localhost:8012/BasicsServices/AmountService/"
        binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_IAmountService"
        contract="AmountService.IAmountService" name="WSHttpBinding_IAmountService">
        <identity>
          <dns value="localhost:8012" />
        </identity>
      </endpoint>
      <endpoint address="http://localhost:8012/BasicsServices/AmountTypeService/"
        binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_IAmountTypeService"
        contract="AmountTypeService.IAmountTypeService" name="WSHttpBinding_IAmountTypeService">
        <identity>
          <dns value="localhost:8012" />
        </identity>
      </endpoint>
      <endpoint address="http://localhost:8012/BasicsServices/AnswerAddService/"
        binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_IAnswerAddService"
        contract="AnswerAddService.IAnswerAddService" name="WSHttpBinding_IAnswerAddService">
        <identity>
          <dns value="localhost:8012" />
        </identity>
      </endpoint>
      <endpoint address="http://localhost:8012/BasicsServices/AnswerStatusService/"
        binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_IAnswerStatusService"
        contract="AnswerStatusService.IAnswerStatusService" name="WSHttpBinding_IAnswerStatusService">
        <identity>
          <dns value="localhost:8012" />
        </identity>
      </endpoint>
      <endpoint address="http://localhost:8012/BasicsServices/AppointmentConsultService/"
        binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_IAppointmentConsultService"
        contract="AppointmentConsultService.IAppointmentConsultService"
        name="WSHttpBinding_IAppointmentConsultService">
        <identity>
          <dns value="localhost:8012" />
        </identity>
      </endpoint>
      <endpoint address="http://localhost:8012/BasicsServices/BaseImportService/"
        binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_IBaseImportService"
        contract="BaseImportService.IBaseImportService" name="WSHttpBinding_IBaseImportService">
        <identity>
          <dns value="localhost:8012" />
        </identity>
      </endpoint>
      <endpoint address="http://localhost:8012/BasicsServices/BasicsDataService/"
        binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_IBasicsDataService1"
        contract="BasicsDataService.IBasicsDataService" name="WSHttpBinding_IBasicsDataService1">
        <identity>
          <dns value="localhost:8012" />
        </identity>
      </endpoint>
      <endpoint address="http://localhost:8012/BasicsServices/BasicSetting_UserInfo/"
        binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_IBasicSetting_UserInfo2"
        contract="BasicSetting_UserInfo.IBasicSetting_UserInfo" name="WSHttpBinding_IBasicSetting_UserInfo2">
        <identity>
          <dns value="localhost:8012" />
        </identity>
      </endpoint>
      <endpoint address="http://localhost:8012/BasicsServices/ChineseToPinYinService/"
        binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_IChineseToPinYinService"
        contract="ChineseToPinYinService.IChineseToPinYinService" name="WSHttpBinding_IChineseToPinYinService">
        <identity>
          <dns value="localhost:8012" />
        </identity>
      </endpoint>
      <endpoint address="http://localhost:8012/BasicsServices/ConsultingOnlineService/"
        binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_IConsultingOnlineService"
        contract="ConsultingOnlineService.IConsultingOnlineService"
        name="WSHttpBinding_IConsultingOnlineService">
        <identity>
          <dns value="localhost:8012" />
        </identity>
      </endpoint>
      <endpoint address="http://localhost:8012/BasicsServices/DepartmentService/"
        binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_IDepartmentService"
        contract="DepartmentService.IDepartmentService" name="WSHttpBinding_IDepartmentService">
        <identity>
          <dns value="localhost:8012" />
        </identity>
      </endpoint>
      <endpoint address="http://localhost:8012/BasicsServices/DistributeRecordService/"
        binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_IDistributeRecordService"
        contract="DistributeRecordService.IDistributeRecordService"
        name="WSHttpBinding_IDistributeRecordService">
        <identity>
          <dns value="localhost:8012" />
        </identity>
      </endpoint>
      <endpoint address="http://localhost:8012/BasicsServices/EnterpriseOnlineService/"
        binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_IEnterpriseOnlineService"
        contract="EnterpriseOnlineService.IEnterpriseOnlineService"
        name="WSHttpBinding_IEnterpriseOnlineService">
        <identity>
          <dns value="localhost:8012" />
        </identity>
      </endpoint>
      <endpoint address="http://localhost:8012/BasicsServices/FunctionService/"
        binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_IFunctionService"
        contract="FunctionService.IFunctionService" name="WSHttpBinding_IFunctionService">
        <identity>
          <dns value="localhost:8012" />
        </identity>
      </endpoint>
      <endpoint address="http://localhost:8012/BasicsServices/GroupConsultationService/"
        binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_IGroupConsultationService"
        contract="GroupConsultationService.IGroupConsultationService"
        name="WSHttpBinding_IGroupConsultationService">
        <identity>
          <dns value="localhost:8012" />
        </identity>
      </endpoint>
      <endpoint address="http://localhost:8012/BasicsServices/GroupReportService/"
        binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_IGroupReportService"
        contract="GroupReportService.IGroupReportService" name="WSHttpBinding_IGroupReportService">
        <identity>
          <dns value="localhost:8012" />
        </identity>
      </endpoint>
      <endpoint address="http://localhost:8012/BasicsServices/IndexService/"
        binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_IIndexService"
        contract="IndexService.IIndexService" name="WSHttpBinding_IIndexService">
        <identity>
          <dns value="localhost:8012" />
        </identity>
      </endpoint>
      <endpoint address="http://localhost:8012/BasicsServices/IndividualConsultationService/"
        binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_IIndividualConsultationService"
        contract="IndividualConsultationService.IIndividualConsultationService"
        name="WSHttpBinding_IIndividualConsultationService">
        <identity>
          <dns value="localhost:8012" />
        </identity>
      </endpoint>
      <endpoint address="http://localhost:8012/BasicsServices/InspectionWarningService/"
        binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_IInspectionWarningService"
        contract="InspectionWarningService.IInspectionWarningService"
        name="WSHttpBinding_IInspectionWarningService">
        <identity>
          <dns value="localhost:8012" />
        </identity>
      </endpoint>
      <endpoint address="http://localhost:8012/BasicsServices/LetterService/"
        binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_ILetterService"
        contract="LetterService.ILetterService" name="WSHttpBinding_ILetterService">
        <identity>
          <dns value="localhost:8012" />
        </identity>
      </endpoint>
      <endpoint address="http://localhost:8012/BasicsServices/ParameterService/"
        binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_IParameterService"
        contract="ParameterService.IParameterService" name="WSHttpBinding_IParameterService">
        <identity>
          <dns value="localhost:8012" />
        </identity>
      </endpoint>
      <endpoint address="http://localhost:8012/BasicsServices/PersonalReportService/"
        binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_IPersonalReportService"
        contract="PersonalReportService.IPersonalReportService" name="WSHttpBinding_IPersonalReportService">
        <identity>
          <dns value="localhost:8012" />
        </identity>
      </endpoint>
      <endpoint address="http://localhost:8012/BasicsServices/PresentationService/"
        binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_IPresentationService"
        contract="PresentationService.IPresentationService" name="WSHttpBinding_IPresentationService">
        <identity>
          <dns value="localhost:8012" />
        </identity>
      </endpoint>
      <endpoint address="http://localhost:8012/BasicsServices/QuestionnaireService/"
        binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_IQuestionnaireService"
        contract="QuestionnaireService.IQuestionnaireService" name="WSHttpBinding_IQuestionnaireService">
        <identity>
          <dns value="localhost:8012" />
        </identity>
      </endpoint>
      <endpoint address="http://localhost:8012/BasicsServices/QuestionTypeService/"
        binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_IQuestionTypeService"
        contract="QuestionTypeService.IQuestionTypeService" name="WSHttpBinding_IQuestionTypeService">
        <identity>
          <dns value="localhost:8012" />
        </identity>
      </endpoint>
      <endpoint address="http://localhost:8012/BasicsServices/RecycleBinService/"
        binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_IRecycleBinService"
        contract="RecycleBinService.IRecycleBinService" name="WSHttpBinding_IRecycleBinService">
        <identity>
          <dns value="localhost:8012" />
        </identity>
      </endpoint>
      <endpoint address="http://localhost:8012/BasicsServices/ReservationService/"
        binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_IReservationService"
        contract="ReservationService.IReservationService" name="WSHttpBinding_IReservationService">
        <identity>
          <dns value="localhost:8012" />
        </identity>
      </endpoint>
      <endpoint address="http://localhost:8012/BasicsServices/RoleService/"
        binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_IRoleService"
        contract="RoleService.IRoleService" name="WSHttpBinding_IRoleService">
        <identity>
          <dns value="localhost:8012" />
        </identity>
      </endpoint>
      <endpoint address="http://localhost:8012/BasicsServices/RoleTypeService/"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IRoleTypeService"
        contract="RoleTypeService.IRoleTypeService" name="BasicHttpBinding_IRoleTypeService" />
      <endpoint address="http://localhost:8012/BasicsServices/SpecialCalculationService/"
        binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_ISpecialCalculationService"
        contract="SpecialCalculationService.ISpecialCalculationService"
        name="WSHttpBinding_ISpecialCalculationService">
        <identity>
          <dns value="localhost:8012" />
        </identity>
      </endpoint>
      <endpoint address="http://localhost:8012/BasicsServices/StatisticalService/"
        binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_IStatisticalService"
        contract="StatisticalService.IStatisticalService" name="WSHttpBinding_IStatisticalService">
        <identity>
          <dns value="localhost:8012" />
        </identity>
      </endpoint>
      <endpoint address="http://localhost:8012/BasicsServices/SystemSettingService/"
        binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_ISystemSettingService"
        contract="SystemSettingService.ISystemSettingService" name="WSHttpBinding_ISystemSettingService">
        <identity>
          <dns value="localhost:8012" />
        </identity>
      </endpoint>
      <endpoint address="http://localhost:8012/BasicsServices/TestTypeService/"
        binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_ITestTypeService"
        contract="TestTypeService.ITestTypeService" name="WSHttpBinding_ITestTypeService">
        <identity>
          <dns value="localhost:8012" />
        </identity>
      </endpoint>
    </client>
  </system.serviceModel>
  <system.webServer>
    <defaultDocument>
      <files>
        <add value="login.html"/>
      </files>
    </defaultDocument>
  </system.webServer>
  <!--<appSettings>
    <add key="EportExcel" value="" />
    -->
  <!--<add key="URLExcel" value="/" />-->
  <!--
  </appSettings>-->
  <!--<RedisConfig WriteServerList="127.0.0.1:6379" ReadServerList="127.0.0.1:6379" MaxWritePoolSize="60"
        MaxReadPoolSize="60" AutoStart="true" LocalCacheTime="180" RecordeLog="false">
  </RedisConfig>-->
</configuration>